#catalogo{
    padding: 10px;
    background-color: aquamarine;
    height: 200px;
}

.card{
    margin: 5px;
    padding: 5px;
    background-color: antiquewhite;
    height: 30px;
    width: 50%;
    align-items: center;
    text-align: center;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}